@page "/"
@inject NotifierService Notifier
@implements IDisposable

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter IncrementAmount="10"/>

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private (string key, int value) lastNotification;

    protected override void OnInitialized()
    {
        Notifier.Notify += OnNotify;
    }

    public async Task OnNotify(string key, int value)
    {
        await InvokeAsync(() =>
        {
            lastNotification = (key, value);
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        Notifier.Notify -= OnNotify;
    }
}